.main-nav {
  height: 100vh;
}

.main-container[data-business-mode] {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.main-container[data-communication-mode] {
  width: var(--wcs-com-content-max-width);
  margin: 0px auto;
  flex-grow: 1;
}

main {
  flex-grow: 1;
  margin: var(--wcs-semantic-spacing-large);
}

.switch-mode-description {
  margin: var(--wcs-semantic-spacing-base) 0;
}

.switch-mode {
  display: flex;
  flex-direction: row;
  gap: var(--wcs-semantic-spacing-base);
  margin-bottom: calc(var(--wcs-semantic-spacing-large) * 3);
}
