@import "wcs-core/dist/wcs/wcs.css";

body {
  margin: 0;

}

@font-face {
    font-family: Avenir;
    src: url("../public/fonts/avenir-lighter.woff");
    font-weight: 100;
}

@font-face {
    font-family: Avenir;
    src: url("../public/fonts/avenir-book.woff");
    font-weight: 300;
}

@font-face {
    font-family: Avenir;
    src: url("../public/fonts/avenir-roman.woff");
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url("../public/fonts/avenir-medium.woff");
    font-weight: 500;
}

@font-face {
    font-family: Avenir;
    src: url("../public/fonts/avenir-heavy.woff");
    font-weight: 800;
}

@font-face {
    font-family: Avenir;
    src: url("../public/fonts/avenir-black.woff");
    font-weight: 900;
}

@font-face {
    font-family: "icons";
    src: url("../public/fonts/icons/icons.eot?#iefix") format("embedded-opentype"),
    url("../public/fonts/icons/icons.woff2") format("woff2"),
    url("../public/fonts/icons/icons.woff") format("woff"),
    url("../public/fonts/icons/icons.ttf") format("truetype"),
    url("../public/fonts/icons/icons.svg#icons") format("svg");
}

/* Include material icons fonts */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v139/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}
@font-face {
    font-family: 'Material Icons Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialiconsoutlined/v108/gok-H7zzDkdnRel8-DQ6KAXJ69wP1tGnf4ZGhUce.woff2) format('woff2');
}
@font-face {
    font-family: 'Material Icons Two Tone';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialiconstwotone/v111/hESh6WRmNCxEqUmNyh3JDeGxjVVyMg4tHGctNCu0.woff2) format('woff2');
}
@font-face {
    font-family: 'Material Icons Round';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialiconsround/v107/LDItaoyNOAY6Uewc665JcIzCKsKc_M9flwmP.woff2) format('woff2');
}
@font-face {
    font-family: 'Material Icons Sharp';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialiconssharp/v108/oPWQ_lt5nv4pWNJpghLP75WiFR4kLh3kvmvR.woff2) format('woff2');
}
