@import '../../style/focus-outline.scss';

@mixin com-nav-item-mobile-focus-outline($outline-color) {
    @include focus-outline($outline-color, 2px, 0.5rem);
}

// Focus outline for com nav item in menu-bar
@mixin com-nav-item-desktop-focus-outline($outline-color) {
    @include focus-outline($outline-color, 2px, 0.1rem);
}

// Focus outline for sub-menu item and category item
@mixin com-nav-submenu-item-desktop-focus-outline($outline-color) {
    @include focus-outline($outline-color, 2px, 0.1rem);
}
