@import '../../style/focus-outline.scss';

:host {
    --wcs-tabs-indicator-height: calc(var(--wcs-semantic-size-base) / 2);
    --wcs-tabs-indicator-background-color: var(--wcs-semantic-color-foreground-action-secondary-default);
    --wcs-tabs-indicator-border-radius: var(--wcs-semantic-border-radius-full);

    --wcs-tabs-color-default: var(--wcs-semantic-color-foreground-action-secondary-default);
    --wcs-tabs-color-hover: var(--wcs-semantic-color-foreground-action-secondary-hover);
    --wcs-tabs-color-press: var(--wcs-semantic-color-foreground-action-secondary-press);
    --wcs-tabs-color-selected: var(--wcs-semantic-color-foreground-action-secondary-default);

    --wcs-tabs-background-color-focus: var(--wcs-semantic-color-background-action-secondary-focus);
    --wcs-tabs-background-color-hover: var(--wcs-semantic-color-background-action-secondary-hover);
    --wcs-tabs-background-color-press: var(--wcs-semantic-color-background-action-secondary-press);

    --wcs-tabs-border-radius: var(--wcs-semantic-border-radius-base);
    --wcs-tabs-border-color-focus: var(--wcs-semantic-color-border-focus-base);

    --wcs-tabs-font-weight-default: var(--wcs-semantic-font-weight-roman);
    --wcs-tabs-font-weight-selected: var(--wcs-semantic-font-weight-roman);

    --wcs-tabs-padding-top: var(--wcs-semantic-spacing-base);
    --wcs-tabs-padding-right: var(--wcs-semantic-spacing-large);
    --wcs-tabs-padding-bottom: calc(var(--wcs-semantic-spacing-base) + var(--wcs-tabs-indicator-height));
    --wcs-tabs-padding-left: var(--wcs-semantic-spacing-large);

    --wcs-tabs-gutter-border-width: var(--wcs-semantic-border-width-default);
    --wcs-tabs-gutter-background-color: var(--wcs-semantic-color-border-secondary);
    --wcs-tabs-headers-border-bottom: var(--wcs-tabs-gutter-border-width) solid var(--wcs-tabs-gutter-background-color);

    --wcs-tabs-transition-duration: var(--wcs-semantic-motion-duration-feedback-base);

    display: block;
}

:host([align=start]) .wcs-tabs-headers {
    justify-content: start;
}

:host([align=end]) .wcs-tabs-headers {
    justify-content: end;
}

:host([align=center]) .wcs-tabs-headers {
    justify-content: center;
}

.wcs-tabs-headers {
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    position: relative;
}

:host([gutter]) {
    .wcs-tabs-headers {
        border-bottom: var(--wcs-tabs-headers-border-bottom);
    }
}

.wcs-tab-header {
    position: relative;

    padding: var(--wcs-tabs-padding-top) var(--wcs-tabs-padding-right) var(--wcs-tabs-padding-bottom) var(--wcs-tabs-padding-left);
    border-radius: var(--wcs-tabs-border-radius) var(--wcs-tabs-border-radius) 0 0;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    transition: all var(--wcs-tabs-transition-duration) ease-out;

    span {
        text-align: center;
        color: var(--wcs-tabs-color-default);
        font-size: 1rem;
        font-weight: var(--wcs-tabs-font-weight-default);
    }

    &:hover {
        background-color: var(--wcs-tabs-background-color-hover);

        span {
            color: var(--wcs-tabs-color-hover);
        }
    }

    // TODO : mettre le focus outline sur la wcs-tab-header comme dans figma
    &:focus-visible > span {
        @include focus-outline(var(--wcs-tabs-border-color-focus));
    }

    &:active {
        background-color: var(--wcs-tabs-background-color-press);

        span {
            color: var(--wcs-tabs-color-press);
        }
    }
}


.active {
    span {
        font-weight: var(--wcs-tabs-font-weight-selected);
        color: var(--wcs-tabs-color-selected);
    }

    &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        content: "";
        height: var(--wcs-tabs-indicator-height);
        background-color: var(--wcs-tabs-indicator-background-color);
        border-radius: var(--wcs-tabs-indicator-border-radius);
    }
}
