:host {
    --wcs-label-font-weight: var(--wcs-semantic-font-weight-book);
    --wcs-label-color: var(--wcs-semantic-color-text-primary);
    --wcs-label-required-marker-color: var(--wcs-semantic-color-text-critical);

    --wcs-label-gap: var(--wcs-semantic-spacing-small);

    font-weight: var(--wcs-label-font-weight);
}

:host([required]) > label::after {
    font-weight: var(--wcs-label-font-weight);
    color: var(--wcs-label-required-marker-color);
    content: ' *';
}

label {
    display: inline-block;
    color: var(--wcs-label-color);
    font-weight: var(--wcs-label-font-weight);

    // Add margin before tooltip icon
    ::slotted(wcs-mat-icon) {
        display: inline;
        vertical-align: middle;
        margin-left: var(--wcs-label-gap);
    }
}
