/* You can add global styles to this file, and also import other style files */
@import '~wcs-core/dist/wcs/wcs.css';

body {
  margin: 0;
}

@font-face {
  font-family: Avenir;
  src: url("assets/fonts/avenir-lighter.woff");
  font-weight: 100;
}

@font-face {
  font-family: Avenir;
  src: url("assets/fonts/avenir-book.woff");
  font-weight: 300;
}

@font-face {
  font-family: Avenir;
  src: url("assets/fonts/avenir-roman.woff");
  font-weight: 400;

@font-face {
  font-family: Avenir;
  src: url("assets/fonts/avenir-medium.woff");
  font-weight: 500;
}

@font-face {
  font-family: Avenir;
  src: url("assets/fonts/avenir-heavy.woff");
  font-weight: 800;
}

@font-face {
  font-family: Avenir;
  src: url("assets/fonts/avenir-black.woff");
  font-weight: 900;
}

@font-face {
  font-family: "icons";
  src: url("assets/fonts/icons/icons.eot?#iefix") format("embedded-opentype"),
       url("assets/fonts/icons/icons.woff2") format("woff2"),
       url("assets/fonts/icons/icons.woff") format("woff"),
       url("assets/fonts/icons/icons.ttf") format("truetype"),
       url("assets/fonts/icons/icons.svg#icons") format("svg");
}

// Examples for class passed in template option of formly radio
.value1 {
  --wcs-semantic-color-text-primary: var(--wcs-semantic-color-foreground-success);
}

.value2 {
  --wcs-semantic-color-text-primary: var(--wcs-semantic-color-foreground-warning);
}

.value3 {
  --wcs-semantic-color-text-primary: var(--wcs-semantic-color-foreground-error);
}

.formly-group-flex-col-with-gap {
  display: flex;
  flex-direction: column;
  row-gap: var(--wcs-semantic-spacing-large);
}

.grid-auto-column {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.column-gap-x-2 {
  column-gap: var(--wcs-semantic-spacing-large);
}
