body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--wcs-semantic-color-background-surface-primary);
    color: var(--wcs-semantic-color-text-primary);
}

html, body {
    height: 100%;
}

body {
    margin: 0;
}

html, body, h1, h2, h3, h4, h5 {
    font-family: var(--wcs-font-sans-serif);
}

h2 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--wcs-semantic-color-text-primary);
}

.hidden {
    display: none;
}

hr {
    border-bottom: 0;
    border-top: solid 1px var(--wcs-semantic-color-border-secondary);
}

.link {
    color: var(--wcs-semantic-color-text-link-default);
    text-decoration: none;
    font-weight: 500;
    padding: 0;
    display: inline-flex;
    align-items: center;

    &:hover {
        color: #003865;
    }
}

@font-face {
    font-family: Avenir;
    src: url("/assets/fonts/avenir-lighter.woff");
    font-weight: 100;
}

@font-face {
    font-family: Avenir;
    src: url("/assets/fonts/avenir-book.woff");
    font-weight: 300;
}

@font-face {
    font-family: Avenir;
    src: url("/assets/fonts/avenir-roman.woff");
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url("/assets/fonts/avenir-medium.woff");
    font-weight: 500;
}

@font-face {
    font-family: Avenir;
    src: url("assets/fonts/avenir-heavy.woff");
    font-weight: 800;
}

@font-face {
    font-family: Avenir;
    src: url("/assets/fonts/avenir-black.woff");
    font-weight: 900;
}

@font-face {
    font-family: "icons";
    src: url("/assets/fonts/icons/icons.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/icons/icons.woff2") format("woff2"),
    url("/assets/fonts/icons/icons.woff") format("woff"),
    url("/assets/fonts/icons/icons.ttf") format("truetype"),
    url("/assets/fonts/icons/icons.svg#icons") format("svg");
}


/* Include material icons fonts */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v139/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}
@font-face {
    font-family: 'Material Icons Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialiconsoutlined/v108/gok-H7zzDkdnRel8-DQ6KAXJ69wP1tGnf4ZGhUce.woff2) format('woff2');
}
@font-face {
    font-family: 'Material Icons Two Tone';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialiconstwotone/v111/hESh6WRmNCxEqUmNyh3JDeGxjVVyMg4tHGctNCu0.woff2) format('woff2');
}
@font-face {
    font-family: 'Material Icons Round';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialiconsround/v107/LDItaoyNOAY6Uewc665JcIzCKsKc_M9flwmP.woff2) format('woff2');
}
@font-face {
    font-family: 'Material Icons Sharp';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialiconssharp/v108/oPWQ_lt5nv4pWNJpghLP75WiFR4kLh3kvmvR.woff2) format('woff2');
}
