@import 'overlay.scss';
@import 'tooltip.scss';
@import 'breakpoints.scss';
@import "~tippy.js/dist/tippy.css"; // For tooltip component

:root {
    // FONT
    // fixme: font-family should be defined in design tokens
    --wcs-font-sans-serif: Avenir, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --wcs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    // Breakpoints
    // SCSS variables are defined in breakpoints.scss
    // TODO : Migrate to design tokens -> Theses are not the same values in design tokens !
    --wcs-phone-breakpoint-max-width: #{$wcs-phone-breakpoint-max-width};
    --wcs-tablet-portrait-breakpoint-min-width: #{$wcs-tablet-portrait-breakpoint-min-width};
    --wcs-tablet-landscape-breakpoint-min-width: #{$wcs-tablet-landscape-breakpoint-min-width};
    --wcs-tablet-landscape-breakpoint-max-width: #{$wcs-tablet-landscape-breakpoint-max-width};
    --wcs-desktop-breakpoint-min-width: #{$wcs-desktop-breakpoint-min-width};
    --wcs-big-desktop-breakpoint-min-width: #{$wcs-big-desktop-breakpoint-min-width};

    // Others
    --wcs-com-content-max-width: 1024px;
}

body {
    font-weight: 300;
    font-family: var(--wcs-font-sans-serif);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button,
textarea,
select {
    font: inherit;
}

::placeholder {
    color: var(--wcs-semantic-color-text-tertiary);
    opacity: 1;
    font-weight: normal;
    font-style: italic;
}

