@mixin placeholder($color: var(--wcs-semantic-color-text-tertiary), $font-weight: 300, $font-style: var(--wcs-semantic-font-style-form-field-placeholder, italic)) {
    color: $color;
    opacity: 1;
    font-weight: $font-weight;
    font-style: $font-style;
}
