/* You can add global styles to this file, and also import other style files */
@import "wcs-core/dist/wcs/wcs.css";

@font-face {
  font-family: Avenir;
  src: url("assets/fonts/avenir-lighter.woff");
  font-weight: 100;
}

@font-face {
  font-family: Avenir;
  src: url("assets/fonts/avenir-book.woff");
  font-weight: 300;
}

@font-face {
  font-family: Avenir;
  src: url("assets/fonts/avenir-roman.woff");
  font-weight: 400;
}

@font-face {
  font-family: Avenir;
  src: url("assets/fonts/avenir-medium.woff");
  font-weight: 500;
}

@font-face {
  font-family: Avenir;
  src: url("assets/fonts/avenir-heavy.woff");
  font-weight: 800;
}

@font-face {
  font-family: Avenir;
  src: url("assets/fonts/avenir-black.woff");
  font-weight: 900;
}
