.sncf-reseau wcs-switch {
    --wcs-switch-dot-color-default: var(--wcs-primitive-color-neutral-600);
    --wcs-switch-dot-color-selected: var(--wcs-primitive-color-neutral-0);
    --wcs-switch-dot-color-disabled: var(--wcs-primitive-color-neutral-600);
}

.sncf-reseau wcs-footer {
    --wcs-footer-background-color: var(--wcs-primitive-color-neutral-0);
    --wcs-footer-text-color: var(--wcs-semantic-color-text-primary);
    --wcs-footer-link-text-color: var(--wcs-semantic-color-text-primary);
    --wcs-footer-link-text-color-hover: var(--wcs-semantic-color-text-primary);
}

.sncf-reseau wcs-galactic {
    --wcs-galactic-background-color: var(--wcs-primitive-color-bleu-givre-100);
    --wcs-galactic-text-color: var(--wcs-semantic-color-text-primary);

    /* To enforce contrast color on dropdown / buttons added in the galactic slot */
    --wcs-semantic-color-foreground-action-tertiary-default: var(--wcs-semantic-color-text-primary);
}

.sncf-reseau wcs-galactic-menu {
    --wcs-galactic-menu-background-color: var(--wcs-primitive-color-bleu-givre-300);
    --wcs-semantic-color-border-focus-base: var(--wcs-semantic-color-border-focus-base-on-secondary);
}

.sncf-reseau wcs-horizontal-stepper {
    --wcs-semantic-color-background-surface-brand-default: var(--wcs-semantic-color-background-action-primary-default);
}

.sncf-reseau wcs-tabs {
    --wcs-tabs-indicator-height: calc(var(--wcs-semantic-size-base) / 4);
    --wcs-tabs-indicator-border-radius: 0;
}

.sncf-reseau wcs-switch {
    --wcs-switch-dot-size: 1.25rem;
    --wcs-switch-padding-horizontal: 0.125rem;
}

/* wcs-tooltip */
.sncf-reseau .tippy-box[data-theme~='dark'] {
    --wcs-semantic-color-text-primary: var(--wcs-semantic-color-text-inverse);
    --wcs-semantic-color-border-focus-base: var(--wcs-semantic-color-border-focus-base-on-secondary);
    --wcs-semantic-color-border-focus-alt: var(--wcs-semantic-color-border-focus-alt-on-secondary);
}

.sncf-reseau .wcs-secondary {
    --wcs-semantic-color-background-action-primary-default: var(--wcs-primitive-color-neutral-700);
    --wcs-semantic-color-background-surface-brand: var(--wcs-primitive-color-neutral-700);

    --wcs-semantic-color-foreground-action-primary-default: var(--wcs-primitive-color-neutral-0);
    --wcs-semantic-color-foreground-action-secondary-default: var(--wcs-primitive-color-neutral-700);
    --wcs-semantic-color-foreground-action-tertiary-default: var(--wcs-primitive-color-neutral-700);

    --wcs-semantic-color-border-action-secondary-default: var(--wcs-primitive-color-neutral-700);

    --wcs-semantic-color-ripple-action-primary: var(--wcs-primitive-color-neutral-0);
    --wcs-semantic-color-ripple-action-secondary: var(--wcs-primitive-color-neutral-700);
    --wcs-semantic-color-ripple-action-tertiary: var(--wcs-primitive-color-neutral-700);
}

.sncf-reseau .wcs-success {
    --wcs-semantic-color-background-action-primary-default: var(--wcs-primitive-color-vert-lichen-500);
    --wcs-semantic-color-background-surface-brand: var(--wcs-primitive-color-vert-lichen-500);

    --wcs-semantic-color-foreground-action-primary-default: var(--wcs-primitive-color-neutral-800);
    --wcs-semantic-color-foreground-action-secondary-default: var(--wcs-primitive-color-vert-lichen-500);
    --wcs-semantic-color-foreground-action-tertiary-default: var(--wcs-primitive-color-vert-lichen-500);

    --wcs-semantic-color-border-action-secondary-default: var(--wcs-primitive-color-vert-lichen-500);

    --wcs-semantic-color-ripple-action-primary: var(--wcs-primitive-color-neutral-800);
    --wcs-semantic-color-ripple-action-secondary: var(--wcs-primitive-color-vert-lichen-500);
    --wcs-semantic-color-ripple-action-tertiary: var(--wcs-primitive-color-vert-lichen-500);
}

.sncf-reseau .wcs-warning {
    --wcs-semantic-color-background-action-primary-default: var(--wcs-primitive-color-jaune-or-500);
    --wcs-semantic-color-background-surface-brand: var(--wcs-primitive-color-jaune-or-500);

    --wcs-semantic-color-foreground-primary: var(--wcs-primitive-color-neutral-900);
    --wcs-semantic-color-foreground-action-primary-default: var(--wcs-primitive-color-neutral-800);
    --wcs-semantic-color-foreground-action-secondary-default: var(--wcs-primitive-color-jaune-or-500);
    --wcs-semantic-color-foreground-action-tertiary-default: var(--wcs-primitive-color-jaune-or-500);

    --wcs-semantic-color-border-action-secondary-default: var(--wcs-primitive-color-jaune-or-500);

    --wcs-semantic-color-ripple-action-primary: var(--wcs-primitive-color-neutral-800);
    --wcs-semantic-color-ripple-action-secondary: var(--wcs-primitive-color-jaune-or-500);
    --wcs-semantic-color-ripple-action-tertiary: var(--wcs-primitive-color-jaune-or-500);
}

.sncf-reseau .wcs-info {
    --wcs-semantic-color-background-action-primary-default: var(--wcs-primitive-color-bleu-cobalt-600);
    --wcs-semantic-color-background-surface-brand: var(--wcs-primitive-color-bleu-cobalt-600);

    --wcs-semantic-color-foreground-action-primary-default: var(--wcs-primitive-color-neutral-0);
    --wcs-semantic-color-foreground-action-secondary-default: var(--wcs-primitive-color-bleu-cobalt-600);
    --wcs-semantic-color-foreground-action-tertiary-default: var(--wcs-primitive-color-bleu-cobalt-600);

    --wcs-semantic-color-border-action-secondary-default: var(--wcs-primitive-color-bleu-cobalt-600);

    --wcs-semantic-color-ripple-action-primary: var(--wcs-primitive-color-neutral-0);
    --wcs-semantic-color-ripple-action-secondary: var(--wcs-primitive-color-bleu-cobalt-600);
    --wcs-semantic-color-ripple-action-tertiary: var(--wcs-primitive-color-bleu-cobalt-600);
}

.sncf-reseau .wcs-critical {
    --wcs-semantic-color-background-action-primary-default: var(--wcs-primitive-color-rouge-feu-500);
    --wcs-semantic-color-background-surface-brand: var(--wcs-primitive-color-rouge-feu-500);

    --wcs-semantic-color-background-action-neutral-default: var(--wcs-primitive-color-critical-100);
    --wcs-semantic-color-background-action-neutral-hover: var(--wcs-primitive-color-critical-200);
    --wcs-semantic-color-background-action-neutral-press: var(--wcs-primitive-color-critical-300);

    --wcs-semantic-color-foreground-action-neutral-default: var(--wcs-primitive-color-critical-500);
    --wcs-semantic-color-foreground-action-neutral-hover: var(--wcs-primitive-color-critical-500);
    --wcs-semantic-color-foreground-action-neutral-press: var(--wcs-primitive-color-critical-600);

    --wcs-semantic-color-foreground-action-primary-default: var(--wcs-primitive-color-neutral-0);
    --wcs-semantic-color-foreground-action-secondary-default: var(--wcs-primitive-color-rouge-feu-500);
    --wcs-semantic-color-foreground-action-tertiary-default: var(--wcs-primitive-color-rouge-feu-500);

    --wcs-semantic-color-border-action-secondary-default: var(--wcs-primitive-color-rouge-feu-500);

    --wcs-semantic-color-ripple-action-primary: var(--wcs-primitive-color-neutral-0);
    --wcs-semantic-color-ripple-action-secondary: var(--wcs-primitive-color-rouge-feu-500);
    --wcs-semantic-color-ripple-action-tertiary: var(--wcs-primitive-color-rouge-feu-500);
}

/* wcs-danger is deprecated, use wcs-critical instead */
.sncf-reseau .wcs-danger {
    --wcs-semantic-color-background-action-primary-default: var(--wcs-primitive-color-rouge-feu-500);
    --wcs-semantic-color-background-surface-brand: var(--wcs-primitive-color-rouge-feu-500);

    --wcs-semantic-color-foreground-action-primary-default: var(--wcs-primitive-color-neutral-0);
    --wcs-semantic-color-foreground-action-secondary-default: var(--wcs-primitive-color-rouge-feu-500);
    --wcs-semantic-color-foreground-action-tertiary-default: var(--wcs-primitive-color-rouge-feu-500);

    --wcs-semantic-color-border-action-secondary-default: var(--wcs-primitive-color-rouge-feu-500);

    --wcs-semantic-color-ripple-action-primary: var(--wcs-primitive-color-neutral-0);
    --wcs-semantic-color-ripple-action-secondary: var(--wcs-primitive-color-rouge-feu-500);
    --wcs-semantic-color-ripple-action-tertiary: var(--wcs-primitive-color-rouge-feu-500);
}

.sncf-reseau .wcs-dark {
    --wcs-semantic-color-background-action-primary-default: var(--wcs-primitive-color-neutral-700);
    --wcs-semantic-color-background-surface-brand: var(--wcs-primitive-color-neutral-700);

    --wcs-semantic-color-foreground-action-primary-default: var(--wcs-primitive-color-neutral-0);
    --wcs-semantic-color-foreground-action-secondary-default: var(--wcs-primitive-color-neutral-700);
    --wcs-semantic-color-foreground-action-tertiary-default: var(--wcs-primitive-color-neutral-700);

    --wcs-semantic-color-border-action-secondary-default: var(--wcs-primitive-color-neutral-700);

    --wcs-semantic-color-ripple-action-primary: var(--wcs-primitive-color-neutral-0);
    --wcs-semantic-color-ripple-action-secondary: var(--wcs-primitive-color-neutral-700);
    --wcs-semantic-color-ripple-action-tertiary: var(--wcs-primitive-color-neutral-700);
}

.sncf-reseau .wcs-light {
    --wcs-semantic-color-background-action-primary-default: var(--wcs-primitive-color-neutral-200);
    --wcs-semantic-color-background-surface-brand: var(--wcs-primitive-color-neutral-200);
    --wcs-semantic-color-foreground-primary: var(--wcs-primitive-color-neutral-900);

    --wcs-semantic-color-foreground-action-primary-default: var(--wcs-primitive-color-neutral-800);
    --wcs-semantic-color-foreground-action-secondary-default: var(--wcs-primitive-color-neutral-200);
    --wcs-semantic-color-foreground-action-tertiary-default: var(--wcs-primitive-color-neutral-200);

    --wcs-semantic-color-border-action-secondary-default: var(--wcs-primitive-color-neutral-200);

    --wcs-semantic-color-ripple-action-primary: var(--wcs-primitive-color-neutral-800);
    --wcs-semantic-color-ripple-action-secondary: var(--wcs-primitive-color-neutral-200);
    --wcs-semantic-color-ripple-action-tertiary: var(--wcs-primitive-color-neutral-200);
}
